# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/

# next.js
/.next/
/out/

# production
build/
dist/

# misc
.DS_Store
*.pem
Thumbs.db
ehthumbs.db

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# local env files
.env*.local

# typescript
*.tsbuildinfo
